/* /* @import url(https://db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold); */
/* @import url(https://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy); */ */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background: #EFEFEF;
}

.navbar{
    display: block;
    height: 54px;
    left: 0px;
    width: 100%;
    margin: auto;
    margin-top: 0px !important;
    position: fixed  !important;
    z-index: 1;
    background-color: #EDEDEA   !important;
    font-family: 'Gilroy ExtraBold', sans-serif;
}

.navbar-collapse{
    background-color: #EDEDEA !important;
}
.nav-item{
    margin-right: 30px;
}

.nav-logo{
    margin: auto;
}

.nav-mid{
    margin: auto;
}

.nav-icons{
    color: #35475C;
}

.dropdown{
    margin-right: 0px;
}

.dropdown-menu{
    background-color:  #EDEDEA !important;
    border: none !important;
    
}

.dropdown-content{
    display: none;
}

.dropdown:hover > .dropdown-menu{
    display: block ;
}

.dropdown-item{
    color: #35475C !important;
    font-weight: bold !important;
}

.dropdown-item:hover{
    color: #3E8AA3 !important;
    background: none !important;
}


.nav-icons:hover{
    filter: invert(50%) sepia(32%) saturate(703%) hue-rotate(149deg) brightness(89%) contrast(90%);
}

.tab {
    color: #35475C !important;
    font-weight: 600;
    font-size: 16px;
}

.tab:hover{
    color: #3E8AA3 !important;
}
.banner{
    /* background-image: url("banner.png"); */
    background-color: #35475C;
    height: 80vh;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head-text{
    margin-top: 16vh;
    /* font-family: 'Gilroy ExtraBold' !important; */
    font-weight: 800;
    font-size: 3.5em;
    line-height: 100.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;     
}

.sub-head{
    /* width: 45vw; */
    padding-top: 5vh;
    /* font-family: 'Gilroy'; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.8;
}

.cac-btn{
    font-family: 'open sans';
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 210px;
    padding: 8px;
    background: #76B4C8;
    margin-top: 7vh;
    margin-right: 1rem;
    border: 2.5px solid #62A8BE;
}

.cac-btn:hover{
    background: #5E98AA;
}


.egp-btn{
    font-family: 'open sans';
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #62A8BE;
    width: 210px;
    padding: 8px;
    background: transparent;
    margin-top: 7vh;
    border: 2.5px solid #62A8BE;
}

.egp-btn:hover{
    background: #FFFFFF;
}

/* Chat Bot */
.chatbox{
    position: fixed;
    bottom: 0.5px;
    right: 46px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 139.48px;
    height: 44px;
    background: #E6DECA;
    box-shadow: 1px -2px 11px rgba(0, 0, 0, 0.03);
}

.chatbox-mobile{
    display: none !important;
    position: fixed;
    bottom: 25px;
    padding-right: 10px;
    right: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #E6DECA;
    box-shadow: 1px -2px 11px rgba(0, 0, 0, 0.03);
    z-index: 1;
}

.c-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 8.34503px;
}

.al-work{
    background-color: #EFEFEF;
}

.logos-mobile{
    display: none;
}

.logos-pc{
    display: block;
}

/* the .journey */

.journey{
    background-color:#35475C ;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-container{
    padding-top: 12vh;
    align-items: center;
}

.journey-head{
    font-size: 30px; 
    color: #ffffff; 
    font-weight: 800;
}

.journey-text{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #E6DECA;
}

.journey-p{
    color:#ffffff; 
    width: 80vw; 
    margin: auto;
}

.journey-icon{
    margin-bottom: 3rem;
    display: block;
}

.platform{
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #EFEFEF;
}

.platform-head{
    font-family: 'Open Sans';
    text-transform: uppercase;   
    font-weight: 800; 
    font-size: 30px;
    color: #35475C;
}

.platform-sub-head{
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: #35475C;
    font-weight: 800;
    font-size: 16px;
    text-align: left;
}

.platform-p{
    color:#35475C; 
    width: 80vw; 
    text-transform: capitalize; 
    margin: auto;
}

.explore-platform{
    text-align: left;
    margin-top: 18vh;

}


.timestamp{
    color: rgba(53, 71, 92, 0.7);
}

.timestamp:hover{
    color:rgba(62, 138, 163, 1);
    cursor: pointer;
    text-decoration: none;
}

.plat-explore-link{
    text-transform: capitalize;
    color: rgba(98, 168, 190, 1);
    font-size: 18px;
    font-weight: 800;
    font-family: 'Open Sans';
    align-items: bottom;
}

.plat-explore-link:hover{
    color:#3E8AA3;
    cursor: pointer;
    text-decoration: none;
}

.platform-sub-p{
    font-family: 'Open Sans';
    text-transform: capitalize; 
    color: #35475C; 
    font-size: 13px; 
    text-align: left;
    margin-top: 1rem;
}

.videos{
    justify-content: center;
    align-items: center;
    width: 37vw;
}

.videos button{
    border: none;
}

.videos-img{
    width: 9vw;
    height: auto;
}

.video-js {
  width: 37vw;
  height: 21vw;
}


.rank{
    background: #808A96;
}

.rank-count{
    margin-left: 10px;
}

.rank-head{
    text-transform: uppercase; 
    color: #ffffff;  
    font-weight: 800; 
    font-size: 30px;
    text-align: center;
}


.line{
    width: 0px;
    height: 124px;
    background-color: #E6DECA ;
    margin-right: 5px;
    border: 1.5px solid #E6DECA;
}

.numbers{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 50.9675px;
    display: flex;
    align-items: center;
    color: #E6DECA;
    margin-top: 1rem;
}

.rank-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11.6497px;
    text-transform: capitalize;
    color: #E6DECA;
    white-space: nowrap;
}

.rank-bottom{
    white-space: nowrap;
}

.rank-p{
    color:#FFFFFF; 
    width: 50vw; 
    text-transform: capitalize; 
    margin: auto;
    text-align: center;
}

.crp{
    text-align: center;
    background-color: #EFEFEF;
    justify-content: center;
    align-items: center;
}

.crp-card{
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.crp-card-1{
    margin-right: -45px;
}

.crp-card:hover{
    box-shadow: 6px 12px 20px 6px rgba(0,0,0,0.3);
}

.crp-card-mobile{
    width: 22rem;
}

.cards-pc:hover .crp-card:not(:hover){
    filter: blur(4px);
}

.crp-head{
    text-transform: uppercase; 
    color: #35475C;  
    font-weight: 800; 
    font-size: 30px;
}

.crp-p{
    color:#35475C; 
    width: 50vw; 
    text-transform: capitalize; 
    margin: auto;
}

/* Career Readiness Mobioe view */
.cards-mobile{
    display: none;
}

.nav{
    flex-wrap: nowrap !important;
}


.nav-pills .nav-link{
    color: #ffffff;
    background: #A1A9B2;
    border: none;
    width: 105px;
    height: 46.58px;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 0px !important;
    border-radius: 0% !important;

}

.nav-pills .nav-link.active{
    color: #ffffff;
    background: #76B4C8 !important;
    border: none;
    width: 118.31px;
    height: 58.58px;
    font-size: 16.1588px;
    font-family: 'Open Sans';
    font-weight: 800;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    display: flex;
    margin-top: -10px;
}

.inr-head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16.2772px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;    
    text-transform: capitalize;
    color: #35475C;
}

.inr{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 34.363px; 
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #35475C; 
}


.crp-btn-na{
    /* font-family: 'Gilroy'; */
    font-weight: 700;
    font-size: 13.5644px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A1A9B2;
    width: 100%;
    border: none;
    padding: 15px;
}

.crp-btn-na:hover{
    background: #8F959C;
}

.crp-btn-a{
    /* font-family: 'Gilroy'; */
    font-weight: 700;
    font-size: 13.5644px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #76B4C8;
    width: 100%;
    padding: 15px;
}

.crp-btn-a:hover{
    background: #5D98AA;
}


.crp-list{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10.8515px;
    text-transform: capitalize;
    color: #35475C;
    text-align: left;
    list-style-type: '\2713';
    list-style-position:outside;
    margin-bottom: 55px;
    margin-top: 45px;
    margin-left: -25px;
}

.crp-list li::before {
    content: '';
    margin-left: 10px;
}

.gp{
    text-align: center;
    background-color: #EFEFEF;
}

.gp-head{
    text-transform: uppercase; 
    color: #35475C;  
    font-weight: 800; 
    font-size: 30px;
}

.gp-p{
    color:#35475C; 
    width: 50vw; 
    text-transform: capitalize; 
    margin: auto;
}

.gp-all-cards{
    display: flexbox !important;
    
}

.gp-card-title{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 17.1833px;
    text-transform: capitalize;
    color: #35475C;
    text-align: left;
    padding-bottom: 45px;
}

.gp-rating{
    margin-bottom: 25px;
}

.gp-rate-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11.7116px;
    text-transform: capitalize;
    color: #35475C;
}

.gp-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8875px;
    text-transform: capitalize;
    color: #35475C;
    text-align: left;
}


.gp-tech{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 10.7395px;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #C7B08C;
    border: 1.07395px solid #C7B08C;
    border-radius: 42.9582px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

.gp-cards-mobile{
    display: none !important;
    /* width: 80vw !important; */
    overflow: scroll;
}


.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    perspective: 1000px;
    margin: 25px;
    /* box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2); */
  }

.flip-card:hover{
    box-shadow: 6px 12px 20px 6px rgba(0,0,0,0.3);
}

  .flip-card-last {
    background-color: #C7B08C !important;
    perspective: 1000px;
    margin: 25px;
    /* box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2); */
  }

  .flip-card-last:hover{
    box-shadow: 6px 12px 20px 6px rgba(0,0,0,0.3);
  }

  .inner-box{
    border: 2.66px solid #FFFFFF;
    height: 82%;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .flip-back-text{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 50%
}

.flip-back-text:hover{
    color: #35475C;
    cursor: pointer;
    text-decoration: none;
}
  
  .carousel-indicators li {
    border-radius: 50%!important;
    width: 9px !important;
    height: 9px !important;
    background-color: #C4C4C4 !important;
  }


  .carousel-indicators li.active {
    background-color: #35475C !important;
  }

  .carousel-indicators{
    position: relative !important;
  }

  /* .gp-slides{
    height: 100%;
    overflow: hidden !important;
  } */

  .col-md-4{
    width: auto !important;
  }


/* remote internship */

.ri{
    background: #35475C;
    background-size: cover;
    background-repeat: no-repeat;
}

.ri-head{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
}

.ri-sub-head{
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 5vh;
}

.pc-map{
    position: sticky;
}

.mobile-map{
    display: none;
}

.ri-btn{
    /* font-family: 'Gilroy'; */
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 259px;
    padding: 12px;
    background: #76B4C8;
    margin-top: 15vh;
    border: none;
    margin-left: 0px;
}

.abcdef{
    overflow: scroll !important;
}

.ri-btn:hover{
    background: #5D98AA;

}

.ri-shortcuts{
    margin-top: 3vh;
    padding-bottom: 15vh;
}

.ri-tech{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 10.6297px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #E6DECA;
    border: 1.06297px solid #E6DECA;
    border-radius: 42.519px;
    width: fit-content;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-right: 10px;
}

.ri-tech:hover{
    background: #E6DECA;
    color: #35475C;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: none;
}

.challenges{
    background: url('challenges-bg.png');
    background-size: cover;
}

.challenges-box{
    background: linear-gradient(136.12deg, rgba(220, 224, 231, 0.22) -3.91%, rgba(219, 223, 230, 0.378719) 30.89%, rgba(218, 222, 229, 0.51) 87.28%), #FFFFFF;
    padding: 25px;
    padding-top: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.challenges-head{
    font-weight: 800; 
    font-size: 30px; 
    text-transform: uppercase; 
    color: #35475C; 
    font-family: 'Open Sans';
}

.challenges-p{
    font-family: 'Open Sans'; 
    font-weight: 400; 
    width: 50%; 
    font-size: 17px; 
    text-transform: capitalize; 
    color: #35475C;
}

.challenges-box-logo img{
    margin-left: 40%;
    margin-bottom: 15px;
    filter: invert(50%) sepia(100%) saturate(10%) hue-rotate(170deg) brightness(105%) contrast(100%);
}

.challenges-box >.challenges-box-logo img:hover{
    cursor: pointer;
    filter: none;
}

.challenges-box-text p{
    color: #35475C;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 11.2513px;
    text-align: center;
    text-transform: capitalize;
    width: 9rem;
}

.challenges-links{
    display: block;
}

.challenges-links:hover{
    text-decoration: none;
}


.location{
    margin: auto;
}

.location-text{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 11.2513px;
    text-transform: capitalize;
     color: #35475C;
}

.date{
    margin: auto;
}

.challenges-explore{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    text-transform: capitalize;
    color: #62A8BE;
    margin-top: 45px;
}


.challenges-explore:hover{
    color: #3E8AA3;
    cursor: pointer;
    text-decoration: none;
}

/* reviews */

.reviews{
    text-align: center;
    background-color: #EFEFEF;
    overflow: hidden;
}

.review-card-container{
    margin:auto;
    width: 75%;
    background-color: #FFFFFF;
}

.review-text{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

.review-image{
    justify-content: left;
}

.review-head{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    text-transform: capitalize;
    color: #35475C;
}

.img-left{
    margin-left: -200px;
    position: absolute;
}

.reviewer-name{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    color: #35475C;
}

.reviewer-p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    color: #35475C;
    text-align: left;
    margin-top: 20px;
    width: 90%;
}

.reviewer-sign{
    font-family: 'Quentin';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #C7B08C;
    transform: rotate(-4.39deg);
    float: right;
    margin-top: 50px;
    margin-right: 80px;
}

.fa-arrow-circle-left:before, 
.fa-circle-arrow-left:before,
.fa-arrow-circle-right:before, 
.fa-circle-arrow-right:before{
    color: #35475C;
}

.carousel-control-prev i{
    margin-top: 50%;
    font-size: 50px;
}

.carousel-control-next i{
    margin-top: 50%;
    font-size: 50px;
}

.faqs{
    text-align: center;
    background: #F7F7F7;
}


.accordion {
    background: #F7F7F7;
    color: #35475C;
    font-family: 'Open Sans';
    cursor: pointer;
    /* padding: 18px; */
    padding-top: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.4s;
    border-top: 1px solid #A1A9B2;
  }
  
.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    color: #35475C;
    float: right;
    margin-top: -5px;
    font-size: 25px;
}

.accordion:hover::after{
    color: #5D98AA;
}

.faq-active:after {
   content: "\2212";   /* Unicode character for "minus" sign (-) */
   font-size: 25px;
   color: #35475C;
}

.no-answer{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    text-align: left;
    text-transform: capitalize;
    color: #62A8BE;
    margin-top: 5rem;
}


.no-answer-link{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 18px;
    text-transform: capitalize;
    color: #62A8BE;
    text-decoration: underline;
}

.no-answer-link:hover{
    color: #3E8AA3;
    cursor: pointer;
}

.panel {
    padding: 0 18px;
    text-align: left;
    background: #F7F7F7;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #35475C;
    opacity: 0.7;
}

.fix-career{
    background: #35475C;
}

.fix-career-head{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 29.0018px;
    text-transform: uppercase;
    color: #E6DECA;
    width: 41%;
    padding-top: 6rem;
}

.fix-career-img{
    margin-left: 23%;
}

.fix-career-img-mobile{
    display: none;
}

.fix-career-text{
    font-family: 'Permanent Marker';
    font-weight: 400;
    font-size: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    transform: rotate(-3.27deg);
    margin-top: 3rem;
}

.fix-career-btn-a{
    /* font-family: 'Gilroy'; */
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 210px;
    padding: 12px;
    background: #76B4C8;
    margin-top: 7vh;
    margin-right: 1rem;
    border: 2.5px solid #62A8BE;
}

.fix-career-btn-a:hover{
    background: #5D98AA;
    border: 2.5px solid #5D98AA;
}

.fix-career-btn-b{
    /* font-family: 'Gilroy'; */
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #62A8BE;
    width: 210px;
    padding: 12px;
    background: transparent;
    margin-top: 7vh;
    border: 2.5px solid #62A8BE;
}

.fix-career-btn-b:hover{
    background: #ffffff;
    border: 2.5px solid #5D98AA;
}

.footer{
    background-color: #EFEFEF;
}

.footer-header{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #35475C;
}

.footer-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #35475C;
    text-align: left;
    margin-top: 20px;
}

.footer-text ul{
    list-style-type: none;
}

.footer-text a{
    color: #35475C;
}

.footer-text li::before {
    content: '';
    margin-left: -40px;
}

.footer-text a:hover{
    text-decoration: none;
}

.social-media-icons{
    margin-left: -40px;
    width: 20vw;
}

.social-media-icons i{
    font-size: 1.4rem;
    color: #35475C;
}

.footer-logo{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 9px;
    text-transform: capitalize;
    color: #35475C;
    margin-top: -5px;
}

/* .sub-footer-mid{
   justify-content: center;
   align-items: center;
   margin-top: -5px;
} */

.sub-footer-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 170%;
    text-transform: capitalize;
    color: #A1A9B2;
    text-align: center;
    margin-top: -35px;
    padding-bottom: 10px;
}

.sub-footer-text a{
    color: #A1A9B2;
}

.sub-footer-text a:hover{
    text-decoration: none;
    color: #35475C;
}

.designed-by{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    color: #A1A9B2;
    margin-right: 15px ;
    margin-top: 5px;
    text-align: right;
}

.navbar-toggler{
    border: none !important;
}



/* text animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .navbar-collapse{
    background: #ffffff;
    background-size: contain;
  }

  .footer-mobile{
    display: none;
  }

  .only-for-mobile{
    display: none;
  }
    

  @media screen and (max-width: 991px){
    .cards-pc{
        display: none;
    }

    .cards-mobile{
        display: block;
        width: max-content;
        margin: auto auto;
    }

    .inr-head{
        display: none;
    }

    .ri{
        justify-content: center !important;
    }

    .ri-button{
        margin: auto;
    }

    .ri-btn{
        margin-top: 2vh !important;
        margin: auto;
        display: block;
        text-align: center !important;
    }

    .ri-head{
        width: 95vw;
        text-align: center;
        margin: auto !important;; 

    }

    .ri-sub-head{
        font-weight: 400;
        font-size: 13px;
        text-align: center;
    }


    .pc-map{
        display: none;
    }

    .right{
        display: none;
    }

    .mobile-map{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .gp-cards-pc{
        display: none !important;
    }

    .gp-cards-mobile{
        display: flex !important;
    }

    .video-js{
        width: 100%;
        height: auto;
    }

    .videos{
        width: 100%;
    }

    .navbar-collapse{
        padding-left: 20px;
    }

  }

  @media screen and (max-width: 770px){
    

    .footer-pc{
        display: none !important;
    }

    .footer-mobile{
        display: block;
    }

    .videos-img{
        width: 20vw !important;
        height: auto;
    }

  }



  @media screen and (max-width: 680px){

    .chatbox{
        display: none !important;
    }

    .chatbox-mobile{
        display: block !important;
    }
    .head-text{
        font-size: 26px;
        padding-top: 12vh;
        width: 80%;
    }

    .sub-head{
        font-size: 13px;
        width: 50vw;
    }

    .mobile-logo{
        padding-right: 0px !important;
    }

    .journey-head{
        font-weight: 800;
        font-size: 18px;
    }

    .journey-p{
        font-weight: 400;
        font-size: 13px;
    }

    .journey-text{
        font-weight: 700;
        font-size: 10.4144px;
        width: 100vw;
        white-space: nowrap;
    }

    .cac-btn{
        width: 80vw;
        margin-left: 20px;
        padding: 15px;
    }

    .egp-btn{
        width: 80vw;
        margin-left: 20px;
        margin-top: 1rem;
        padding: 15px;
    }

    .banner{
        background-image: url(mobile-banner.png);
        background-size: cover;
        background-position: 100% 50px;
    }   

    .banner-btns{
        margin-top: 25vh;
    }

    .logos img{
        margin:auto;
        padding-top: 1rem;
    }

    .logos-pc{
        display: none;
    }

    .logos-mobile{
        display: block;
        justify-content: center;
        overflow: hidden;
    }

    .platform-head{
        font-weight: 800;
        font-size: 20px;
        text-align: center !important;
        margin: auto !important;
        width: 100%;
    }

    .crp{
        margin: auto;
        overflow: overlay;
    }

    .crp-head{
        font-weight: 800;
        font-size: 20px;
    }

    .crp-p{
        font-weight: 400;
        font-size: 13px;
        width: 90vw;
    }

    .crp-list{
        font-weight: 400 !important;
        font-size: 13.1144px !important;
        color: #35475C !important;
    }

    .gp-head{
        font-weight: 800;
        font-size: 20px;
    }

    .gp-p{
        font-weight: 400;
        font-size: 13px;
        width: 90vw;
    }

    .sub-footer-text{
        margin: auto !important;
    }

    /* .carousel-item{
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
    } */

    .ri-head{
        width: 95vw;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin: auto !important;; 

    }

    .ri-sub-head{
        font-weight: 400;
        font-size: 13px;
        text-align: center;
    }


    .challenges-head{
        font-weight: 800;
        font-size: 20px;
        text-align: center;
    }

    .challenges-p{
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        width: 100%;
    }

    .challenges-row{
        justify-content: center;
        column-count: 2 !important;

    }

    .challenges-box{
        width: 151.47px;
        max-width: fit-content;
        height: 114.54px;
    }

    .challenges-box-text p{
        font-size: 9px;
        max-width: 120px;
        width: max-content;
        text-align: center;
        margin: auto;
        margin-left: -10%;
        /* margin-bottom: -15px; */
    }

    .challenges-box-logo img{
        filter: none;
        width: 22.84px;
        height: auto;
    }


    .location-text{
        font-size: 8.73px;
    }

    .challenges-explore{
        text-align: center;
    }

    .fix-career-head{
        font-weight: 800;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .fix-career-text{
        font-weight: 400;
        font-size: 14.9653px;
    }

    .fix-career-text img{
        width: 80%;
        margin-top: 0px !important;
    }

    .fix-career-btn-a, .fix-career-btn-b{
        width: 80vw;
        margin-left: 20px;
        padding: 15px;
        text-align: center;
    }

    .fix-careet-btns{
        margin: auto !important;
    }

    .fix-career-img{
        max-width: 99vw !important;
        margin: auto !important;
        padding-top: 20px;
        margin-left: -1.5vw !important;
    }

    .fix-career-img-mobile{
        width: 70vw;
    }

    .reviewer-sign{
        margin-top: 0px ;
        margin-bottom: 20px;
    }

    .only-for-pc{
        display: none !important;
    }

    .ri-button{
        display: flex;
        margin: auto;
        align-items: center;
    }

    .ri-btn{
        margin-top: 2vh !important;
        margin: auto;
        display: block;
        text-align: center !important;
    }

    .ri-shortcuts{
        display: flex;
        width: 100%;
        margin: 0px 0px 0px 0px !important;
    } 

   
    .only-for-mobile{
        display: contents;
    }
}
  

  @media screen and (max-width: 470px){
        .journey-icons{
            width: min-content;
            margin: auto;
        }

        .journey-icon img{
            width: 41px;
            height: 41.47px;
        }

        .journey-p{
            width: 80vw; 
        }

        .platform-p{ 
            width: 80vw; 
            margin: auto;
            font-size: 13px;
        }

        .challenges-box{
            margin-right: 8px;
        }

        .rank-p{
            width: 80vw; 
            margin: auto;
            font-size: 13px;
        }

        .rank-text{
            font-size: 9px;
            white-space: nowrap;
        }

        .countdown-row{
            width: 85vw;
            margin: auto !important;
        }

        .rank-count{
            font-size: 34.9118px;
        }

        .rank-count img{
            width: 20%;
            margin: auto;
        }

        .project-icon{
            width: 15% !important;
        }

        .line{
            height: 8rem;
            margin-top: 2rem;
        }


        .ri-tech{
            padding-left: 12px !important;
            padding-right: 12px !important;
            font-size: 8.21px;
        }

        .ri-shortcuts{
            justify-content: space-around;
        }

        .rank-count{
            margin-top: 50%;
        }

        .review-image{
            margin: auto !important;
            /* padding-right: 30px; */
        }

        .rank-head{
            font-size: 18px !important;
        }

        .platform-sub-p{
            margin-right: 18%;
        }

        /* .review-card-container{
            width: 100vw;
        } */

        .carousel-control-prev .carousel-control-next{
            position: absolute !important;
        }

        .social-media-icons{
            column-count: 7;
        }
  }

@media screen and (max-width: 300px){
        .mobile-map{
            width: 70vw;
        }

        .mobile-logo{
            
            padding-left: 2px !important;
        }

        .ri-btn{
            width: 80%;
        }
}

